.app {
  padding: 50px;

  .refresh-bt {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }
}

@media only screen and (max-width: 800px) {
  .app {
    padding: 20px;

    .refresh-bt {
      justify-content: center;
    }
    .cards {
      flex-flow: column;
      align-items: center;
    }
  }
}
