@import '../../mixins.scss';

$grey: #eaeaea;
$valueHeight: 75%;

.value-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 170px;
  background-color: white;
  @include light-shaddow;

  .value {
    border-bottom: 1px solid $grey;
    color: blue;
    width: 100%;
    height: $valueHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
  }
  .title {
    color: #444444;
    height: #{100 - $valueHeight};
    display: flex;
    align-items: center;
    color: white;
  }
}

@media only screen and (max-width: 800px) {
  .value-card {
    margin: 20px 0;
  }
}
